<div class="container">
    <% @categories.each do |category| %>
    <div class="card shadow rounded mb-5 text-center">  
        <div class="card-body">
            <h5 class="card-title"> <%= link_to category.name,category_path(category), class:"text-success"%> <br></h5>
            Articles count: <%= category.articles.count %>
        </div>
        <div class="card-footer text-muted">
            <small>
                created: <%= time_ago_in_words(category.created_at) %> |
            </small>
        </div>
    </div>
    <% end %> 

</div>
